.text {
    color: rgb(0, 255, 0);
}

body {
    background-color: rgb(255, 0, 0);
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.btn {
    padding: 10px;
    color: white;
}

.btn-1 { background-color: green; }
.btn-2 { background-color: blue; }
.btn-3 { background-color: red; }

.btn-video { background-color: greenyellow; 
             font-size: 60px;}
.btn-audio { background-color: greenyellow; 
             font-size: 60px;}

.large-header {
    font-size: 100px;
}